<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/api">My Profile</a></li>
			<li><a href="/feed/api">Feed</a></li>
			<li><a href="/login/api">Log In</a></li>
			<li><a href="/signup/api">Sign Up</a></li>
		</ul>

	</div>
</nav>
