<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

  <main>
    <div class="jumbotron">
			<h1>Pupload</h1>
			<p>Social Media for Dogs</p>
		</div>

	  <ul class="contacts" style="list-style-type: none;">
			<p>My Dogs</p>

      	<% for(var i=0; i<contacts.length; i++){ %>
					<% if(contacts[i].poster==profileVar){ %>
      			<li class="post">
							<span>
								<img src=<%= contacts[i].url %> alt="dog picture" style="height:100px;">
							</span>
							<li class="text">
          			<span><%= contacts[i].name %>-</span>
        				<span><%= contacts[i].caption %></span>
							</li>
						</li style="list-style-type: none;">
					<% } %>
				<% } %>
    </ul>

    <form action="/contacts" method="POST">
			<p>Pupload a Dog</p>
			<input type="url" placeholder="url of dog picture" name="url">
      <input type="text" placeholder="dog's name" name="name">
      <input type="text" placeholder="caption" name="caption">
      <button type="submit">Submit</button>
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
