<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">

				<div class="jumbotron">
					<h1>Pupload</h1>
					<p>Log In to your Account</p>
				</div>

			</div>
		</div>



		<!-- <ul class="users" style="list-style-type: none;">
			<% for(var i=0; i<users.length; i++) {%>
				<li class="signin">
					<span><%= users[i].user %></span>
					<span><%= users[i].password %></span>
				</li style="list-style-type: none;">
			<% } %>
		</ul> -->
		<form>
	  	<input type="text" placeholder="username" name="user" id="user">
	  	<input type="text" placeholder="password" name="password" id=password>
	  	<button onclick= <%= checkUser(document.getElementById('user').value, document.getElementById('password').value)%>  type="submit">Submit</button>
		</form>

		<%!
		function checkUser(use, pass){
		  console.log("YOU MADE PROGRESS")
		  for(var i=0; i<users.length; i++){
		    if(use==users[i].user){
		      console.log("IT WORKS")
		      res.redirect('/api')
		    }
		  }
		}
		%>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
