<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		body {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 350;
		}
	</style>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<a href="https://imgur.com/0EFgodT"><img src="https://i.imgur.com/0EFgodT.png" title="source: imgur.com" style="height:100px;"/></a>
			<p>Create an Account</p>
		</div>
	</main>

	<form action="/users" method="POST" style="max-width:1350px; margin:auto">
	  <input type="text" placeholder="username" name="user" style="width:300px"><br>
	  <input type="text" placeholder="password" name="password" style="width:300px"><br>
	  <input type="submit" value="Pupload" style="width:300px">
	</form>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
