<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

  <main>
    <div class="jumbotron">
			<h1>Pupload</h1>
			<p>Social Media for Dogs</p>
		</div>

	  <ul class="contacts" style="list-style-type: none;">
			<p>My Dogs</p>

      	<% for(var i=0; i<contacts.length; i++) {%>
      		<li class="rating">
						<span>
							<img src=<%= contacts[i].url %> alt="dog picture" style="height:100px;">
						</span>
          	<span><%= contacts[i].name %></span>
        		<span><%= contacts[i].rating %></span>
      		</li style="list-style-type: none;">
      	<% } %>

    </ul>

    <form action="/contacts" method="POST">
			<p>Pupload a Dog</p>
			<input type="url" placeholder="url of dog picture" name="url">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="rating" name="rating">
      <button type="submit">Submit</button>
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
